.button {
  padding: 6px 20px;
  border-radius: 8px;
  font-weight: 600;
  font-family: inherit;
}

.button-primary {
  color: white;
  background: #008080;
}
.button-secondary {
  color: #008080;
  background-color: white;
  border: 1px solid #008080;
}
