.navbar-wrapper-desktop {
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  justify-content: center;
}

.navbar-desktop {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1136px;
  margin: 0 50px;
  background-color: white;
  border-radius: 10px;
  flex: 1;
}

.navbar-small-devices {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}
