@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  position: relative;
  font-family: 'IBM Plex Mono', monospace;
  box-sizing: border-box;
  user-select: none;
}
.banner {
  height: 80vh;
  background-image: url('/media/banner-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 1136px;
  margin: 0 auto;
}

.banner .main-heading {
  font-weight: 700;
  line-height: 1;
  text-align: center;
  font-weight: 700;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 6.44%,
    #ffffff 95.08%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.highlights-section {
  padding: 80px 10px;
}

.categories_and_travel_guide-section {
  padding: 80px 10px;
  background-color: #e6f2f2;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #999 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
